.container {
  margin: 0 15px;
  width: auto;

  /*@media (max-width: $screen-sm-max) {*/
  /*  width: 1640px;*/
  /*  margin: 0 auto;*/
  /*}*/
}

a {
  color: var(--color-white);
  text-decoration: none;

  &.active,
  &:hover {
    color: var(--link-color-hover);
  }
}

b {
  font-weight: var(--font-bold);
}

h1 {
  font-size: 30px;
  line-height: 1.14;
  font-family: var(--yeseva-font);
}

.text-primary {
  color: var(--color-primary);
}

button {
  font-family: "Merriweather", sans-serif;
  border: 1px solid transparent;
  font-size: 14px;
  color: var(--btn-color);
  cursor: pointer;
  line-height: var(--btn-lh);
  background-color: transparent;
  /*background-color: #1a1a1a;*/
  /*transition: all 0.25s ease-in-out;*/
}

button.disabled,
button:disabled {
  box-shadow: 0 4px 10px 0 #00000040 inset;
  background-color: var(--btn-bg-disabled);
  color: var(--btn-color-disabled);
}

.btn-primary {
  background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
  border-radius: 20px;
  padding: 13px 18px 9px;
}

.btn-secondary {
  color: var(--color-white);
  border-color: var(--color-white);
  border-radius: 20px;
  padding: 14px 18px 11px;
}

.lower {
  text-transform: lowercase;
}

